// 股票组件
.stockSingleModel {
  float: left;
  height: 36px;
  display: inline-block;
}

.stockSingleModelFormItem {
  display: inline-block;
  height: 36px;

  .ant-form-explain {
    display: none !important;
  }
}

.stockSingleModelFormItemSecond {
  margin-left: -65px;
}

// 股票名称formItem
.stockTotalWrap {
  display: inline-block;
  width: 100%;
  margin-left: -31px;
  margin-bottom: 15px;

  label {
    font-size: 14px;
    color: #555;
  }
;
}

.stockSubWrap {
  width: 300px;
  height: 36px;
}

.stockSubChildrenSelectClass {
  width: 200px;
  height: 36px;
  float: left;
  margin-right: 10px;
}

.stockChildrenSelectClass {
  width: 200px !important;
  height: 36px;
  font-size: 14px;
  color: #555;
  float: left;
  margin-right: 10px;

  div {
    height: 36px;
  }

  span {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 18px;
    right: 8px !important;
    border-top: 10px solid #999;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }

  span:before {
    content: "";
  }
}

.clearFix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}

.checkboxStockModel {
  width: 100px;
  float: left;
}

.stockSelectOption {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.box {
  width: 300px;
  height: 300px;
  background: red;
  position: relative;
}

.content {
  width: 100px;
  height: 100px;
  background: green;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 -50px;
}

.container {
  width: 500px;
}

.left {
  width: 100px;
  height: 150px;
  background-color: #B3D1C1;
  float: left;
}

.right {
  height: 200px;
  background-color: #A694C1;
  /*把.right这个自适应预算变成BFC，
  避免与.left这个有float属性的元素重叠；*/
  overflow: hidden;
}

.fatherContainer {
  width: 300px;
  height: 300px;
  background: red;
}

.oneItem {
  width: 50px;
  height: 50px;
  background: green;
  float: left;
}

.twoItem {
  width: 50px;
  height: 50px;
  background: yellow;
}

.threeItem{
  width: 50px;
  height: 50px;
  background: black;
  float: left;
}
